* img{
    width: 310px;
    height: 360px;
    
}
header{
    background: rgb(170, 162, 162);
    color:white;
    
}
header ul li{
    font-size: 40px;
    padding: 40px;
    display: inline-block;
    margin-right: 40px;
    
}
main p{
    font-size: 35px;
    background:black;
    color:white;
}

#imgSection{
    width: 900px;
    height:300px;
}
section ul{
    border: 3px black solid;
    display:inline-flex;
    padding: 20px;
    
}
section ul li:hover{
    background:red;
}header p{
    font-size: 55px;
    color: black;
}


#myChart{
    margin-top:300px;
}